apiVersion: v1
kind: Secret
metadata:
  name: postgres-admin-secret
  namespace: postgres
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: YOUR_POSTGRES_ADMIN_PASSWORD_HERE
  POSTGRES_DB: postgres