apiVersion: v1
kind: Secret
metadata:
  name: mariadb-admin-secret
  namespace: mariadb
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: YOUR_MARIADB_ADMIN_PASSWORD_HERE
  MYSQL_DATABASE: mariadb
  MYSQL_USER: mariadb
  MYSQL_PASSWORD: YOUR_MARIADB_ADMIN_PASSWORD_HERE